:root{
    /*declaración de variables*/
   
    --color-blue:#5D5FEF;
    --dark-mid-night-blue:#151D48;
    --gray-color:#737791;
    --white-color:#FFFFFF;
    --mid-night-blue:#05004E;
    --light-gray-color:#F9FAFB;
    --liht-red-color:#FFE2E5;
    --red-color:#FA5A7D;
    --mid-night-gray-color:#425166;
    --blue-sky-color:#4079ED;
    --light-yellow-color:#FFF4DE;
    --yellow-color:#FF947A;
    --light-green-color:#DCFCE7;
    --green-color:#3CD856;
    --light--purple-color:#F3E8FF;
    --purple-color:#BF83FF;
    /* table colors */
    --blue:#0095FF;
    --light_light_blue:#0095FF;
    --gren:#00E096;
    --light_light_green:#00E096;
    --purple:#884DFF;
    --ligth-light-purple:#C5A8FF;
    --orange:#FF8F0D;
    --light-light_orange:#FFD5A4;
}

/* reset de los valores */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

*{
    font-family:"poppins";
}

.side-menu{ /* etiqueta aside */
    display: flex;
    flex-direction: column;
    border: 2px solid red;/* indicador de espacio */
    width: 345px;
    height: 1311px;
    
}

.back-ground-white{
    background-color: var(--white-color);
}

.bar-title-side{
    display: flex;/* logo y estiqueta h1 */
    margin-top: 44px;
    margin-left: 43px;
    h1{
        align-self: center;
        margin-left: 24px;
        font-size: 30px; 
    }    
}

.menu{
    margin-left: 46px;
    margin-right: 47px;
    li{
        list-style: none;/* eliminamos las viñetas */
        margin-top: 48px;
        button{
            font-size: 18px;
            display: flex;
            border: 0;
            outline: none;
            align-items: center;/* alineamos los botones con los iconos */
            gap: 24px;/* separamos los iconos */
            padding-left: 24px;
        }
    }
}

.get-button-container{
    width: 238px;
    height: 259px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:var(--color-blue);
    border-radius: 20px;
    margin: 136px 143px 54px 53px;/* top, buttom, right, left */
}

.items-container{
    width: 145px;
    height: 198px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    color: var(--white-color);

    p{
        text-align: center;
        font-size: 12px;
    }
    button{
        border-radius: 8px;
        border: 0;
        outline: none;
        font-size: 16px;
        margin-top: 30px;
        padding: 8px 38.5px 8px 38.5px;
        color:var(--color-blue);
    }
}